extends layout

block content
  // Banner
  section#banner
    h2 knightsofthemaze
    ul.actions
      li
        canvas(id="game" width="320" height="180")
        .mobileInput
          .divControls
            img#btnMoveUp
            .bottom
              img#btnMoveLeft
              img#btnMoveDown
              img#btnMoveRight
          .divJump
            img#btnJump
  script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.1/seedrandom.min.js")
  script(src="/javascripts/maze-generator.js")
  script(src="/javascripts/game.js")  
